
    
      <nav class = "navbar navbar-default navbar-fixed-bottom">
        <div class="container">
          <ul class= "nav nav-pills pull-right">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", new_contact_path %></li>
          </ul>
          
          <ul class= "nav" id = "developernav">
            <li class= "text-center">&copy; Reagent Tracker App Developer: Erlan Rey S. Biyok</li>
          </ul>
        </div>  
      </nav>
    
